* {
  background-image: none;
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 5px;
  background-size: 15%;
  border-radius: 80px;
  border: 30px;
  outline-style: none;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 18px;
  color: #cdd6f4;
  min-width: 120px;
  min-height: 120px;
}

button:hover {
  background-color: rgba(187, 134, 252, 0.15);
  color: #bb86fc;
  background-size: 25%;
  margin: 5px;
  border: 30px;
  outline-style: none;
}

#lock {
  background-image: url("/usr/share/wlogout/icons/lock.png");
}

#logout {
  background-image: url("/usr/share/wlogout/icons/logout.png");
}

#suspend {
  background-image: url("/usr/share/wlogout/icons/suspend.png");
}

#hibernate {
  background-image: url("/usr/share/wlogout/icons/hibernate.png");
}

#shutdown {
  background-image: url("/usr/share/wlogout/icons/shutdown.png");
}

#reboot {
  background-image: url("/usr/share/wlogout/icons/reboot.png");
}

#lock:hover {
  background-color: rgba(137, 180, 250, 0.15);
  color: #89b4fa;
}

#logout:hover {
  background-color: rgba(249, 226, 175, 0.15);
  color: #f9e2af;
}

#suspend:hover {
  background-color: rgba(137, 222, 235, 0.15);
  color: #89dceb;
}

#hibernate:hover {
  background-color: rgba(203, 166, 247, 0.15);
  color: #cba6f7;
}

#shutdown:hover {
  background-color: rgba(243, 139, 168, 0.15);
  color: #f38ba8;
}

#reboot:hover {
  background-color: rgba(250, 179, 135, 0.15);
  color: #fab387;
}
